body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    color: color: #E5E7EB;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 100px;
}

#header_logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 100px;
}

#hero_main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
}

.header button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 8px;
    border: none;
}

.header_main {
    max-width: 500px;
}

.placeholder_image {
    height: auto;
    width: 600px;
    margin-left: 50px;
    background-color: rgb(139, 139, 139);
    display: flex;
    justify-content:center;
    align-items: center;
}

/* MIDDLE */

.middle_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: 300px;
    margin-right: 100px;
}

.middle_section h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.middle_container {
    display: flex;
    align-items: space-between;
}

.subtext {
    display: flex;
    flex-direction: column;
    padding:  30px;
    max-width: 200px;
}

.subtext_image {
    height: 200px;
    width: 200px;
    border: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 16px;
}


/* QUOTE SECTION */

.quote_section {
    background-color: #E5E7EB;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;

}

.quote {
    font-size: 36px;
    font-weight: 100;
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
}

.quote_attrib {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-self: flex-end;
    padding-left: 200px;
    padding-right: 200px;
}


/* CALL TO ACTION */

.call_container {
    padding: 50px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.call_to_action {
    background-color: #3882F6;
    width: 900px;
    padding: 30px;
    border: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.call_text {
    color: #E5E7EB;
}

.call_button {
    display: flex;
    align-self: center;
}

.call_button button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    border: solid 2px;
    border-color: #E5E7EB; 
}

.footer {
    color: #E5E7EB;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer p {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 100px;
}